{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Destiny Curves</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/index.css'%}"/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://d3js.org/d3.v4.js"></script>
    
</head>
<body>
    <p>27603 27617</p>
    <input id="user_deck_id" type="text" placeholder="Enter your deck id">
    <input id="opp_deck_id" type="text" placeholder="Enter opponent deck id">
    <div class="graph_btns">
        <button id="deck_submit_btn" type="submit">Submit</button>
    </div>
    <div class="chart"></div>

    <div class="char_wrapper" id="user_chars"></div>
    <div class="char_wrapper" id="opp_chars"></div>
    <div class="upgrade_btns"></div>

    <div id="upgrade_modal">
        <div id="upgrade_list"></div>
        <div>
            <button id="cancel_modal_btn">Cancel</button>
            <button id="apply_modal_btn">Apply</button>
        </div>
    </div>


    <script>
        let base_url = "https://swdestinydb.com/api/public/"
        let deck_submit_btn = document.querySelector("#deck_submit_btn") 
        let graph_btn = document.querySelector("#graph_btn") 
        let cancel_modal_btn = document.querySelector("#cancel_modal_btn") 
        let apply_modal_btn = document.querySelector("#apply_modal_btn") 

        let user_char_arr = [] 
        let opp_char_arr = [] 
        let user_dice = {} 
        let opp_dice = {}
        let card_data = {}
        let priority_set = false
        let turns = 6

        let user_hp = 0
        let opp_hp = 0
        let user_target = {}
        let opp_target = {}


        class Dice_Card {
            constructor(id, name, sides, dmg){
                this.id = id
                this.name = name
                this.sides = sides
                this.dmg = dmg
            }
        }


        class Character extends Dice_Card {
            constructor(id, name, sides, dmg, health){
                super(id, name, sides, dmg)
                this.health = health
                this.alive = true
                this.priority = 0
                this.saved_dmg = dmg
                this.upgrades = {0:[], 1:[], 2:[], 3:[], 4:[], 5:[]}
                this.supports =  {0:[], 1:[], 2:[], 3:[], 4:[], 5:[]}
            }


            assign_pri(pri){
                this.priority = pri
            }
            

            give_upgrade(card_id, turn, dice_cards){
                let card = dice_cards[card_id]
                for(let i=turn;i<Object.keys(this.upgrades).length;i++){
                    this.upgrades[i].push(new Upgrade(card_id, card["name"], card["sides"], card["dmg"], card["cost"], turn))
                }
            }


            set_support(card_id, turn, dice_cards){
                let card = dice_cards[card_id]
                for(let i=turn;i<Object.keys(this.supports).length;i++){
                    this.supports[i].push(new Upgrade(card_id, card["name"], card["sides"], card["dmg"], card["cost"], turn))
                }
            }
            

            get_damage(turn){
                let upgrade_dmg = 0
                let support_dmg = 0
                let turn_upgrades = this.upgrades[turn]
                let turn_supports = this.supports[turn]
                for(let i=0;i<turn_upgrades.length;i++){
                    upgrade_dmg += turn_upgrades[i].dmg
                }
                for(let i=0;i<turn_supports.length;i++){
                    support_dmg += turn_supports[i].dmg
                }
                return this.dmg + upgrade_dmg + support_dmg
            }

            // resetting upgrades or priority here will break program
            reset_char() {
                this.dmg = this.saved_dmg
                this.alive = true
            }


            get_wrecked(){
                this.dmg = 0
                this.alive = false
            }
        }


        class Upgrade extends Dice_Card {
            constructor(id, name, sides, dmg, cost, turn_added){
                super(id, name, sides, dmg)
                this.cost = cost
                this.turn_added = turn_added
            }
        }


        deck_submit_btn.addEventListener("click", () => {
            priority_set = false
            user_char_arr = []
            opp_char_arr = []
            reset()
            process_data()
        })


        cancel_modal_btn.addEventListener("click", () => {
            document.getElementById("upgrade_modal").style.display="none"
        })


        apply_modal_btn.addEventListener("click", () => {
            let upgrades = document.getElementsByClassName("upgrade")
            if(upgrades[0]){
                let char_idx = upgrades[0].data[0]
                char_arr = upgrades[0].data[1] == "#user_chars" ? user_char_arr : opp_char_arr
                dice_cards = upgrades[0].data[1] == "#user_chars" ? user_dice : opp_dice
                char_arr[char_idx].upgrades = {0:[], 1:[], 2:[], 3:[], 4:[], 5:[]} 
                for(let i=0;i<upgrades.length;i++){
                    if(upgrades[i].value){
                        char_arr[char_idx].give_upgrade(upgrades[i].id, upgrades[i].value, dice_cards)
                    }
                }
            } else {
                let supports = document.getElementsByClassName("support")
                if(supports[0]){
                    char_arr = supports[0].data == "#user_chars" ? user_char_arr : opp_char_arr
                    dice_cards = supports[0].data == "#user_chars" ? user_dice : opp_dice
                    char_arr[0].supports = {0:[], 1:[], 2:[], 3:[], 4:[], 5:[]} 
                for(let i=0;i<supports.length;i++){
                    if(supports[i].value){
                        char_arr[0].set_support(supports[i].id, supports[i].value, dice_cards)
                    }
                }
            }
            }

            document.getElementById("upgrade_modal").style.display="none"
        })


        function process_data(){
            let deck_id = document.getElementById("user_deck_id").value
            let opp_deck = document.getElementById("opp_deck_id").value
            axios
                .post(
                    "{% url 'main:get_decks' %}",
                    {
                        deck_id: deck_id,
                        opp_deck: opp_deck
                    },
                    {
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}"
                        }
                    }
                )
                .then(decks => {
                    opp_chars = decks.data["opp"]
                    user_chars = decks.data["user"]
                    opp_dice = decks.data["opp_dice"]
                    user_dice = decks.data["user_dice"]
                    assign_chars(opp_chars, false)
                    assign_chars(user_chars, true)
                    get_curve(6)
                })
        }


        function assign_chars(chars, user){
            let char_arr = user ? user_char_arr : opp_char_arr

            for(let i of Object.keys(chars)){
                char_arr[i] = new Character(
                    chars[i]['card']['id'],
                    chars[i]['card']['name'],
                    chars[i]['card']['sides'],
                    chars[i]['dice'] * chars[i]['dice_dmg'],
                    chars[i]['card']['health']
                )
            }
        }


        function reset(){
            let user_chars = document.querySelector("#user_chars")
            let opp_chars = document.querySelector("#opp_chars")

            if(user_chars.firstChild || opp_chars.firstChild){
                user_target = {}
                opp_target = {}
 
                user_hp = 0
                opp_hp = 0

                while(opp_chars.hasChildNodes()){
                    opp_chars.removeChild(opp_chars.lastChild)
                }
                while(user_chars.hasChildNodes()){
                    user_chars.removeChild(user_chars.lastChild)
                }

                for(let char of opp_char_arr){
                    char.reset_char()
                }
                for(let char of user_char_arr){
                    char.reset_char()
                } 
            }
        }


        function get_curve(turns){
            reset()
            if(document.querySelector(".curve")){
                d3.select(".curve").remove()
            }

            let margin = {top: 10, right: 30,  bottom: 30, left: 60}
            let width = 460 - margin.left - margin.right
            let height = 400 - margin.top - margin.bottom

            let svg = d3.select(".chart")
                .append("svg")
                    .attr("class", "curve")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
            
            let x = d3.scaleLinear().range([0, width])
            let y = d3.scaleLinear().range([height, 0])

            x.domain([1,turns])
            y.domain([0,d3.max([turns * 6])])

            svg.append("g")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x).ticks(turns))
                
            svg.append("g")
                .call(d3.axisLeft(y))

            generate_characters("#opp_chars", opp_char_arr)
            generate_characters("#user_chars", user_char_arr)
            generate_options()
            let turn_dmgs = get_turn_dmg() 
            data_to_curve(format_data(turn_dmgs["opp"]), "#a33639") 
            data_to_curve(format_data(turn_dmgs["user"]), "#0071C5")  


            // refactor repetitions
            function get_turn_dmg(){
                let opp_turn_dmgs = [0]
                let user_turn_dmgs = [0]

                for(let i=0;i<turns;i++){
                    let user_total_dmg = 0
                    let opp_total_dmg = 0

                    user_target = set_target(user_char_arr, user_target)
                    opp_target = set_target(opp_char_arr, opp_target)

                    if(user_turn_dmgs.reduce((x,y) => x+y) >= opp_target.health + opp_hp){
                        opp_target.get_wrecked()
                        opp_hp += opp_target.health
                    }
                    if(opp_turn_dmgs.reduce((x,y) => x+y) >= user_target.health + user_hp){
                        user_target.get_wrecked()
                        user_hp += user_target.health
                    }

                    for(let char of user_char_arr){
                        user_total_dmg += char.get_damage(i)
                    }
                    for(let char of opp_char_arr){
                        opp_total_dmg += char.get_damage(i)
                    }
                    user_turn_dmgs[i] = user_total_dmg
                    opp_turn_dmgs[i] = opp_total_dmg
                }

                let turn_dmgs = {
                    "opp": opp_turn_dmgs,
                    "user": user_turn_dmgs
                }
                return turn_dmgs
            }


            function set_target(char_arr, target){
                for(let i=0;i<char_arr.length;i++){
                    if(Object.keys(target).length == 0 && priority_set){
                        target = char_arr[i]
                    } 
                    if(!target.alive){
                        if(char_arr[i].alive && char_arr[i].priority == parseInt(target.priority) + 1 && char_arr[i].priority > 0){
                            target = char_arr[i]
                        }
                    } else if(char_arr[i].alive && char_arr[i].priority < target.priority && char_arr[i].priority > 0){
                        target = char_arr[i]
                    }
                }
                return target
            }


            // Returns array with an object for each turn. Objects contain x, y graph data
            function format_data(char_arr){
                let formatted = []
                let dmg = 0

                for(let i=0;i<turns;i++){
                    dmg += char_arr[i]
                    formatted.push({ "x":i+1, "y":dmg })
                }
                return formatted
            }


            function data_to_curve(data, color){
                svg.append("path")
                .datum(data)
                .attr("class", "line")
                .attr("fill", "none")
                .attr("stroke", color)
                .attr("stroke-width", 1.5)
                .attr("d", d3.line()
                .x(function(d) { return x(d.x) })
                .y(function(d) { return y(d.y) })
                )

                svg.append("g")
                    .selectAll("dot")
                    .data(data)
                    .enter()
                    .append("circle")
                        .attr("cx", function(d) { return x(d.x) })
                        .attr("cy", function(d) { return y(d.y) })
                        .attr("r", 5)
                        .attr("fill", color)
            }

            // elements to select character priority
            function generate_characters(player_div, char_arr){
                let char_wrap = document.querySelector(player_div)

                if(!char_wrap.firstChild){
                    for(let i of Object.keys(char_arr)){
                        let char_div = document.createElement("div")
                        char_div.className = "character"
                        char_div.id = "character" + i
                        char_div.innerText = char_arr[i].name
                        char_wrap.appendChild(char_div)

                        let char_toggle = document.createElement("input")
                        char_toggle.className = "char_priority"
                        char_toggle.id = "toggle" + i
                        char_toggle.type = "number"
                        char_toggle.min = "1"
                        char_toggle.max = char_arr.length       
                        char_div.appendChild(char_toggle)

                        let upgrade_btn = document.createElement("button")
                        upgrade_btn.id = "upgrade" + i
                        upgrade_btn.innerText = "+"
                        upgrade_btn.data = char_arr[i].id
                        char_div.appendChild(upgrade_btn)

                        char_toggle.addEventListener("change", function() {
                            char_arr[this.id.slice(6,7)].assign_pri(this.value)
                            priority_set = true
                        })

                        upgrade_btn.addEventListener("click", function() {
                            while(upgrade_list.hasChildNodes()){
                                upgrade_list.removeChild(upgrade_list.lastChild)
                            }
                            upgrades = player_div == "#user_chars" ? user_dice : opp_dice
                            for(let upgrade of Object.values(upgrades)){
                                if(upgrade["type_code"] == "upgrade"){
                                    for(let i=0;i<upgrade["quantity"];i++){
                                        let upgrade_div = document.createElement("div")
                                        upgrade_div.innerText = upgrade["name"]
                                        upgrade_list.appendChild(upgrade_div)

                                        let upgrade_turn = document.createElement("input")
                                        upgrade_turn.className = "upgrade"
                                        upgrade_turn.id = upgrade["id"]
                                        upgrade_turn.data = [this.id.slice(7,8), player_div]
                                        upgrade_turn.type = "number"
                                        upgrade_turn.min = "0"
                                        upgrade_turn.max = "6"      
                                        upgrade_list.appendChild(upgrade_turn)
                                    }
                                }
                            }
                            document.getElementById("upgrade_modal").style.display="block"
                        })
                    }
                }
            }


            function generate_options(){
                let upgrade_btn_div = document.querySelector(".upgrade_btns")
                let graph_btn_div = document.querySelector(".graph_btns")
                if(!upgrade_btn_div.firstChild){
                    let graph_btn = document.createElement("button")
                    graph_btn.id = "graph_btn"
                    graph_btn.type = "submit"
                    graph_btn.innerText = "Generate Graph"
                    graph_btn_div.appendChild(graph_btn)

                    graph_btn.addEventListener("click", () => {
                        get_curve(turns)
                    })

                    let user_supp_btn = document.createElement("button")
                    user_supp_btn.id = "user_support"
                    user_supp_btn.data = "#user_chars"
                    user_supp_btn.className = "support_btn"
                    user_supp_btn.innerText = "Add user support"
                    upgrade_btn_div.appendChild(user_supp_btn)

                    let opp_supp_btn = document.createElement("button")
                    opp_supp_btn.id = "opp_support"
                    opp_supp_btn.data = "#opp_chars"
                    opp_supp_btn.className = "support_btn"
                    opp_supp_btn.innerText = "Add opponent support"
                    upgrade_btn_div.appendChild(opp_supp_btn)

                    let supp_btns = document.querySelectorAll(".support_btn")
                    for(let btn of supp_btns){
                        btn.addEventListener("click", function() {
                            // new modal?
                            while(upgrade_list.hasChildNodes()){
                                upgrade_list.removeChild(upgrade_list.lastChild)
                            }
                            supports = btn["id"] == "user_support" ? user_dice : opp_dice
                            for(let support of Object.values(supports)){
                                if(support["type_code"] == "support"){
                                    for(let i=0;i<support["quantity"];i++){
                                        let support_div = document.createElement("div")
                                        support_div.innerText = support["name"]
                                        upgrade_list.appendChild(support_div)

                                        let support_turn = document.createElement("input")
                                        support_turn.className = "support"
                                        support_turn.id = support["id"]
                                        support_turn.data = this.data 
                                        support_turn.type = "number"
                                        support_turn.min = "0"
                                        support_turn.max = "6"      
                                        upgrade_list.appendChild(support_turn)
                                    }
                                }
                            }
                            document.getElementById("upgrade_modal").style.display="block"
                        })
                    }
                }
            }


        }


    </script>
</body>
</html>